swagger: '2.0'
info:
  version: v1
  title: Arena EHR Server API Documentation
host: 'atp-acsagents.westeurope.cloudapp.azure.com:9000'
schemes:
  - http
paths:
  /api/v1/archetype:
    get:
      tags:
        - Archetype
      operationId: Archetype_GetAll
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.Arena.Ehr.Gdl.Data.Archetypes.ArchetypeInfo'
      deprecated: false
    post:
      tags:
        - Archetype
      operationId: Archetype_Save
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Gdl.Api.Internal.Archetypes.CreateArchetypeRequest
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/archetype/{id}':
    get:
      tags:
        - Archetype
      operationId: Archetype_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr+xml
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Archetypes.Archetype'
      deprecated: false
  /api/v1/archetype/upload:
    post:
      tags:
        - Archetype
      operationId: Archetype_Upload
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/chart/vaqm/{chartId}':
    get:
      tags:
        - Chart
      operationId: Chart_GetVaqmChart
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: chartId
          in: path
          required: true
          type: string
        - name: queryArgs.scope
          in: query
          required: false
          type: string
        - name: queryArgs.scopeValues
          in: query
          required: false
          type: string
        - name: queryArgs.min
          in: query
          required: false
          type: string
        - name: queryArgs.max
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.Unify.Format.Charts.Chart'
      deprecated: false
  /api/v1/chart/vaqm:
    get:
      tags:
        - Chart
      operationId: Chart_GetVaqmChartDescriptions
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/DIPS.Arena.Ehr.Knowledge.Vaqm.Data.Chart.ChartDescription
      deprecated: false
  /api/v1/chart/vaqm/admin/config:
    get:
      tags:
        - Chart
      operationId: Chart_GetVaqmChartConfigurations
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: includeDeleted
          in: query
          required: true
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.Vaqm.Chart.VaqmChartConfigurationVersion
      deprecated: false
    post:
      tags:
        - Chart
      operationId: Chart_SaveVaqmChartConfiguration
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: vaqmChartConfiguration
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.Vaqm.Chart.VaqmChartConfigurationVersion
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.Vaqm.Chart.VaqmChartConfigurationVersion
      deprecated: false
  '/api/v1/chart/vaqm/admin/config/{chartId}':
    get:
      tags:
        - Chart
      operationId: Chart_GetVaqmChartConfiguration
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: chartId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.Vaqm.Chart.VaqmChartConfigurationVersion
      deprecated: false
    delete:
      tags:
        - Chart
      operationId: Chart_DeleteVaqmChartConfiguration
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: chartId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.Vaqm.Chart.VaqmChartConfigurationVersion
      deprecated: false
  '/api/v1/composition/{compositionUid}':
    get:
      tags:
        - Composition
      summary: Gets the composition with specified UID.
      operationId: Composition_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr+xml
      parameters:
        - name: compositionUid
          in: path
          description: The Composition UID.
          required: true
          type: string
      responses:
        '200':
          description: OK.
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.Composition
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/{ehrId}/composition':
    post:
      tags:
        - Composition
      summary: Create a new composition.
      operationId: Composition_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.openehr+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: composition
          in: body
          description: The composition.
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.Composition
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
        - name: versionLifecycleState
          in: query
          description: >-
            The version Lifecycle State (532=complete, 553=incomplete,
            523=deleted)
          required: true
          type: integer
          format: int32
        - name: ehrId
          in: path
          description: The ehr Id.
          required: true
          type: string
        - name: precedingVersionUid
          in: query
          description: >-
            This will result in a new composition based on the preceding
            composition version.
          required: false
          type: string
      responses:
        '201':
          description: Created - The composition was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/{subjectNamespace}/{subjectId}/composition':
    post:
      tags:
        - Composition
      summary: Create a new composition.
      operationId: Composition_Post_Subject
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.openehr+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: composition
          in: body
          description: The composition.
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.Composition
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
        - name: versionLifecycleState
          in: query
          description: >-
            The version Lifecycle State (532=complete, 553=incomplete,
            523=deleted)
          required: true
          type: integer
          format: int32
        - name: subjectId
          in: path
          description: The subject id.
          required: true
          type: string
        - name: subjectNamespace
          in: path
          description: The subject namespace.
          required: true
          type: string
        - name: precedingVersionUid
          in: query
          description: >-
            This will result in a new composition based on the preceding
            composition version.
          required: false
          type: string
      responses:
        '201':
          description: Created - The composition was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/{ehrId}/bulk/composition':
    post:
      tags:
        - Composition
      summary: Create a new composition.
      operationId: Composition_PostBulk
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.openehr+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: composition
          in: body
          description: The composition.
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.Composition
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
        - name: versionLifecycleState
          in: query
          description: >-
            The version Lifecycle State (532=complete, 553=incomplete,
            523=deleted)
          required: true
          type: integer
          format: int32
        - name: ehrId
          in: path
          description: The ehr Id.
          required: true
          type: string
      responses:
        '201':
          description: Created - The composition was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/{subjectNamespace}/{subjectId}/bulk/composition':
    post:
      tags:
        - Composition
      summary: Create a new composition.
      operationId: Composition_PostBulk_Subject
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.openehr+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: composition
          in: body
          description: The composition.
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.Composition
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
        - name: versionLifecycleState
          in: query
          description: >-
            The version Lifecycle State (532=complete, 553=incomplete,
            523=deleted)
          required: true
          type: integer
          format: int32
        - name: subjectId
          in: path
          description: The subject id.
          required: true
          type: string
        - name: subjectNamespace
          in: path
          description: The subject namespace.
          required: true
          type: string
      responses:
        '201':
          description: Created - The composition was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/{subjectNamespace}/{subjectId}/composition/flat':
    post:
      tags:
        - Composition
      summary: Create a new composition.
      operationId: Composition_PostFlat
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: flatComposition
          in: body
          description: The composition.
          required: true
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/System.Object'
            example:
              /context/start_time/value: '2017-02-22T06:52:42.02552+01:00'
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0004]/value/magnitude': 120
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0004]/value/units': 'mm[Hg]'
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0005]/value/magnitude': 80
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0005]/value/units': 'mm[Hg]'
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0033]/value/value': comment here...
        - name: templateId
          in: query
          description: The template id.
          required: true
          type: string
        - name: committerName
          in: query
          description: The committer Name.
          required: true
          type: string
        - name: versionLifecycleState
          in: query
          description: >-
            The version Lifecycle State (532=complete, 553=incomplete,
            523=deleted)
          required: true
          type: integer
          format: int32
        - name: subjectId
          in: path
          description: The subject id.
          required: true
          type: string
        - name: subjectNamespace
          in: path
          description: The subject namespace.
          required: true
          type: string
        - name: precedingVersionUid
          in: query
          description: >-
            This will result in a new composition based on the preceding
            composition version.
          required: false
          type: string
      responses:
        '201':
          description: Created - The composition was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/{ehrId}/composition/flat':
    post:
      tags:
        - Composition
      summary: Create a new composition.
      operationId: Composition_PostFlat_EhrId
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: flatComposition
          in: body
          description: The composition.
          required: true
          schema:
            type: object
            additionalProperties:
              $ref: '#/definitions/System.Object'
            example:
              /context/start_time/value: '2017-02-22T06:52:42.02552+01:00'
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0004]/value/magnitude': 120
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0004]/value/units': 'mm[Hg]'
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0005]/value/magnitude': 80
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0005]/value/units': 'mm[Hg]'
              '/content[openEHR-EHR-OBSERVATION.blood_pressure.v1 and name/value=''Blodtrykk#1'']/data[at0001]/events[at0006]/data[at0003]/items[at0033]/value/value': comment here...
        - name: templateId
          in: query
          description: The template id.
          required: true
          type: string
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
        - name: versionLifecycleState
          in: query
          description: >-
            The version Lifecycle State (532=complete, 553=incomplete,
            523=deleted)
          required: true
          type: integer
          format: int32
        - name: ehrId
          in: path
          description: The ehr Id.
          required: true
          type: string
        - name: precedingVersionUid
          in: query
          description: >-
            This will result in a new composition based on the preceding
            composition version.
          required: false
          type: string
      responses:
        '201':
          description: Created - The composition was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/composition/{versionedCompositionUid}/delete':
    post:
      tags:
        - Composition
      summary: Creates a new version with version lifecycle state = 523 (deleted).
      operationId: Composition_Delete
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: versionedCompositionUid
          in: path
          description: The UID of the composition to be deleted.
          required: true
          type: string
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
      responses:
        '201':
          description: Created - The composition was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  /api/v1/ehr:
    get:
      tags:
        - Ehr
      summary: Returns the state of the specified EHR.
      operationId: Ehr_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr+xml
      parameters:
        - name: subjectId
          in: query
          description: The subject ID whose EHR needs to be located.
          required: true
          type: string
        - name: subjectNamespace
          in: query
          description: The namespace that the subject belongs to.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.RM.Domain.Ehr.EhrPackage.PatientEhr'
      deprecated: false
    post:
      tags:
        - Ehr
      summary: "Creates a new EHR and returns its ID.\r\n                The caller can specify an external subject ID and namespace to whom the new EHR will belong."
      operationId: Ehr_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          description: The request message.
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Datastore.Api.Internal.Ehrs.CreateEhrRequest
      responses:
        '200':
          description: OK
          schema:
            type: string
      deprecated: false
  '/api/v1/folder/{folderUid}':
    get:
      tags:
        - Folder
      summary: Gets the folder with specified UID.
      operationId: Folder_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr+xml
      parameters:
        - name: folderUid
          in: path
          description: The Folder UID.
          required: true
          type: string
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.RM.Common.DirectoryPackage.Folder'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/{ehrId}/folder':
    post:
      tags:
        - Folder
      summary: Create a new folder.
      operationId: Folder_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.openehr+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: folder
          in: body
          description: The folder.
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.RM.Common.DirectoryPackage.Folder'
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
        - name: versionLifecycleState
          in: query
          description: >-
            The version Lifecycle State (532=complete, 553=incomplete,
            523=deleted)
          required: true
          type: integer
          format: int32
        - name: ehrId
          in: path
          description: The ehr Id.
          required: true
          type: string
        - name: precedingVersionUid
          in: query
          description: >-
            This will result in a new folder based on the preceding folder
            version.
          required: false
          type: string
      responses:
        '201':
          description: Created - The folder was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/{subjectNamespace}/{subjectId}/folder':
    post:
      tags:
        - Folder
      summary: Create a new folder.
      operationId: Folder_Post_Subject
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.openehr+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: folder
          in: body
          description: The folder.
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.RM.Common.DirectoryPackage.Folder'
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
        - name: versionLifecycleState
          in: query
          description: >-
            The version Lifecycle State (532=complete, 553=incomplete,
            523=deleted)
          required: true
          type: integer
          format: int32
        - name: subjectId
          in: path
          description: The subject id.
          required: true
          type: string
        - name: subjectNamespace
          in: path
          description: The subject namespace.
          required: true
          type: string
        - name: precedingVersionUid
          in: query
          description: >-
            This will result in a new folder based on the preceding folder
            version.
          required: false
          type: string
      responses:
        '201':
          description: Created - The folder was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  '/api/v1/folder/{versionedFolderUid}/delete':
    post:
      tags:
        - Folder
      summary: Creates a new version with version lifecycle state = 523 (deleted).
      operationId: Folder_Delete
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: versionedFolderUid
          in: path
          description: The UID of the folder to be deleted.
          required: true
          type: string
        - name: committerName
          in: query
          description: The name of the committer.
          required: true
          type: string
      responses:
        '201':
          description: Created - The folder was successfully created.
          schema:
            type: string
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '500':
          description: Internal Server Error.
      deprecated: false
  /api/v1/foldertemplate:
    get:
      tags:
        - FolderTemplate
      operationId: FolderTemplate_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/DIPS.Arena.Ehr.Knowledge.Folder.Data.ServerFolderTemplateInfo
      deprecated: false
    post:
      tags:
        - FolderTemplate
      operationId: FolderTemplate_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      parameters:
        - name: folder
          in: body
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Forms.Format.Folder.FolderResources'
      responses:
        '200':
          description: OK
          schema:
            type: string
      deprecated: false
  '/api/v1/foldertemplate/{includeDeleted}':
    get:
      tags:
        - FolderTemplate
      operationId: FolderTemplate_Get_IncludeDeleted
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: includeDeleted
          in: path
          required: true
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/DIPS.Arena.Ehr.Knowledge.Folder.Data.ServerFolderTemplateInfo
      deprecated: false
  '/api/v1/foldertemplate/{name}/{version}':
    get:
      tags:
        - FolderTemplate
      operationId: FolderTemplate_Get_Name_Version
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Forms.Format.Folder.FolderResources'
      deprecated: false
    delete:
      tags:
        - FolderTemplate
      operationId: FolderTemplate_Delete
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
        - name: deletedBy
          in: query
          required: true
          type: string
        - name: permanent
          in: query
          required: true
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            type: integer
         
      deprecated: false
  '/api/v1/form/{name}/{version}':
    get:
      tags:
        - Form
      operationId: Form_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
    delete:
      tags:
        - Form
      operationId: Form_Delete
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/form/{name}/{version}/resource/{resourceName}':
    get:
      tags:
        - Form
      operationId: Form_Get_Name_Veroion_Resource
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: name
          in: path
          required: true
          type: string
        - name: version
          in: path
          required: true
          type: string
        - name: resourceName
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/form:
    get:
      tags:
        - Form
      operationId: Form_Get_List
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.Arena.Ehr.Knowledge.Forms.Data.ServerFormInfo'
      deprecated: false
    post:
      tags:
        - Form
      operationId: Form_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: form
          in: body
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Forms.IO.Form'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/form/{status}':
    get:
      tags:
        - Form
      operationId: Form_Get_Status
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: status
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/form/upload:
    post:
      tags:
        - Form
      operationId: Form_Upload
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/gdl:
    get:
      tags:
        - Gdl
      operationId: Gdl_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
    post:
      tags:
        - Gdl
      operationId: Gdl_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: command
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Gdl.Api.Internal.Gdl.StoreGuide.Command
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/gdl/{guideId}':
    get:
      tags:
        - Gdl
      operationId: Gdl_Get_GuideId
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: guideId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/gdl/upload:
    post:
      tags:
        - Gdl
      operationId: Gdl_Upload
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/cds/{ehrId}/{guideId}':
    get:
      tags:
        - Gdl
      operationId: Gdl_ObsoleteHttpGetExecuteGdl
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: ehrId
          in: path
          required: true
          type: string
        - name: guideId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: true
  '/api/v1/gdl/{guideId}/query/{ehrId}':
    get:
      tags:
        - Gdl
      operationId: Gdl_HttpGetExecuteGdl
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: ehrId
          in: path
          required: true
          type: string
        - name: guideId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/cds:
    post:
      tags:
        - Gdl
      operationId: Gdl_ObsoleteHttpPostExecuteGdl
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/DIPS.Arena.Ehr.Gdl.Api.Rest.ScopedGdlRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: true
  /api/v1/gdl/query:
    post:
      tags:
        - Gdl
      operationId: Gdl_HttpPostExecuteGdl
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/DIPS.Arena.Ehr.Gdl.Api.Rest.ScopedGdlRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/link:
    get:
      tags:
        - Link
      summary: Returns items by ehr uri (only relative ehr uri is supported.)
      operationId: Link_GetByUri
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr+xml
      parameters:
        - name: ehruri
          in: query
          description: "ehr://top_level_structure_locator/path_inside_top_level_structure. \r\n            Ex. ehr:compositions/87284370-2D4B-4e3d-A3F3-F303D2F4F34B/content[openEHR-EHR-SECTION.vital_signs.v1]/items[openEHR-EHR-OBSERVATION.blood_pressure.v1]/data/events[at0006, 'any event']/data/items[at0004]"
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.RM.Common.RmType'
        '404':
          description: Not Found
      deprecated: false
  /api/v1/query:
    get:
      tags:
        - Query
      summary: >-
        Returns the data produced by the specified query, along with some
        meta-data.
      operationId: Query_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: aql
          in: query
          description: The AQL query to execute.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: false
    post:
      tags:
        - Query
      summary: >-
        Returns the data produced by the specified query, along with some
        meta-data.
      operationId: Query_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: request
          in: body
          description: QueryRequest containing query and optional scope of query.
          required: true
          schema:
            $ref: '#/definitions/DIPS.Arena.Ehr.Datastore.Api.Rest.ScopedQueryMessage'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: false
  /api/v1/queries:
    post:
      tags:
        - Query
      operationId: Query_Post_Queries
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultsets+xml
      parameters:
        - name: messages
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/DIPS.Arena.Ehr.Datastore.Api.Rest.ScopedQueryMessage
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: false
  /api/v1/query/validate:
    post:
      tags:
        - Query
      operationId: Query_Post_Validate
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Datastore.Api.Internal.Queries.AqlValidationRequest
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Aql.ValidationResult'
      deprecated: false
  /api/v1/query/doc:
    get:
      tags:
        - Query
      operationId: Query_GetQueryDoc
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - text/plain
      responses:
        '200':
          description: OK
          schema:
            type: string
      deprecated: false
  /api/v1/server/settings:
    get:
      tags:
        - Server
      operationId: Server_GetSettings
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/server/database_id:
    get:
      tags:
        - Server
      operationId: Server_GetDatabaseId
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/server/version:
    get:
      tags:
        - Server
      operationId: Server_GetVersion
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/server/status:
    get:
      tags:
        - Server
      operationId: Server_GetStatus
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/storedquery:
    get:
      tags:
        - StoredQuery
      operationId: StoredQuery_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/DIPS.Arena.Ehr.Knowledge.StoredQueries.Data.StoredQueryModel
      deprecated: false
    put:
      tags:
        - StoredQuery
      operationId: StoredQuery_Put
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: storedQuery
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Knowledge.StoredQueries.Data.StoredQueryModel
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
    post:
      tags:
        - StoredQuery
      operationId: StoredQuery_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: storedQuery
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Knowledge.StoredQueries.Data.StoredQueryModel
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/storedquery/{name}/query':
    get:
      tags:
        - StoredQuery
      summary: >-
        Returns the data produced by the specified stored query, along with some
        meta-data.
      operationId: StoredQuery_GetStoredQuery
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: name
          in: path
          description: The name of the stored query.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: false
    post:
      tags:
        - StoredQuery
      operationId: StoredQuery_Post_Basic
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: message
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Datastore.Api.Rest.ScopedStoredQueryMessage
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: false
  '/api/v1/storedquery/{name}/{formatName}/query':
    get:
      tags:
        - StoredQuery
      summary: >-
        Returns the data produced by the specified stored query, along with some
        meta-data.
      operationId: StoredQuery_GetStoredQuery_Name_Format
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: name
          in: path
          description: The name of the stored query.
          required: true
          type: string
        - name: formatName
          in: path
          description: The presentation name.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: false
    post:
      tags:
        - StoredQuery
      operationId: StoredQuery_Post_ScopedQuery
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: message
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Datastore.Api.Rest.ScopedStoredQueryMessage
        - name: name
          in: path
          required: true
          type: string
        - name: formatName
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: false
  '/api/v1/storedquery/{name}':
    get:
      tags:
        - StoredQuery
      operationId: StoredQuery_Get_Name
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Knowledge.StoredQueries.Data.StoredQueryModel
      deprecated: false
    delete:
      tags:
        - StoredQuery
      operationId: StoredQuery_Delete
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/query/stored/{name}':
    get:
      tags:
        - StoredQuery
      summary: >-
        Returns the data produced by the specified stored query, along with some
        meta-data.
      operationId: StoredQuery_DeprecatedGetStoredQuery
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: name
          in: path
          description: The name of the stored query.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: true
    post:
      tags:
        - StoredQuery
      operationId: StoredQuery_DepreactedPost
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: message
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Datastore.Api.Rest.ScopedStoredQueryMessage
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: true
  '/api/v1/query/stored/{name}/{formatName}':
    get:
      tags:
        - StoredQuery
      summary: >-
        Returns the data produced by the specified stored query, along with some
        meta-data.
      operationId: StoredQuery_DeprecatedGetStoredQuery_Basic
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: name
          in: path
          description: The name of the stored query.
          required: true
          type: string
        - name: formatName
          in: path
          description: The presentation name.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: true
    post:
      tags:
        - StoredQuery
      operationId: StoredQuery_DeprecatedPost
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultset+xml
        - application/vnd.dips.openehr.resultset.tableview+json
      parameters:
        - name: message
          in: body
          required: true
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Datastore.Api.Rest.ScopedStoredQueryMessage
        - name: name
          in: path
          required: true
          type: string
        - name: formatName
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: true
  '/api/v1/{compositionUid}/tags':
    post:
      tags:
        - Tags
      summary: Updated tags on a composition.
      operationId: Tags_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: compositionUid
          in: path
          description: The committer Name.
          required: true
          type: string
        - name: tags
          in: body
          description: The composition.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Aql.Pipeline.Queries.TagValues'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/tag/keys:
    get:
      tags:
        - Tags
      operationId: Tags_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/template:
    get:
      tags:
        - Template
      operationId: Template_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: >-
                #/definitions/DIPS.Arena.Ehr.Datastore.Api.Internal.Templates.TemplateInfo
      deprecated: false
    post:
      tags:
        - Template
      operationId: Template_Post
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/template/{id}':
    get:
      tags:
        - Template
      operationId: Template_Get_Id
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Datastore.Api.Internal.Templates.TemplateInfo
      deprecated: false
  '/api/v1/template/name/{templateId}':
    get:
      tags:
        - Template
      operationId: Template_Get_By_Name
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: templateId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              #/definitions/DIPS.Arena.Ehr.Datastore.Api.Internal.Templates.TemplateInfo
      deprecated: false
  '/api/v1/template/{id}/delete':
    put:
      tags:
        - Template
      operationId: Template_Delete
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/template/{id}/undelete':
    put:
      tags:
        - Template
      operationId: Template_Undelete
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  '/api/v1/template/{templateId}/opt':
    get:
      tags:
        - Template
      operationId: Template_GetOpt
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.am+xml
      parameters:
        - name: templateId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.AM.Templates.OperationalTemplate'
      deprecated: false
  '/api/v1/template/filename/{fileName}':
    post:
      tags:
        - Template
      operationId: Template_Post_Filename
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.openehr.am+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: template
          in: body
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.AM.Templates.OperationalTemplate'
        - name: fileName
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/template/lastupdate:
    get:
      tags:
        - Template
      operationId: Template_GetLastUpdate
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
      deprecated: false
  /api/v1/vaqm/save:
    post:
      tags:
        - Vaqm
      summary: Saves the given VaqmConfigurations
      operationId: Vaqm_Save
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.vaqm+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.vaqm+xml
      parameters:
        - name: vaqmConfigurations
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.VaqmConfiguration'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.VaqmConfiguration'
      deprecated: false
  /api/v1/vaqm/approve:
    post:
      tags:
        - Vaqm
      summary: Approves the given VaqmConfigurations
      operationId: Vaqm_Approve
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.vaqm+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.vaqm+xml
      parameters:
        - name: vaqmConfigurations
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.VaqmConfiguration'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.VaqmConfiguration'
      deprecated: false
  /api/v1/vaqm/delete:
    post:
      tags:
        - Vaqm
      summary: Deletes VaqmConfigurations with the given ids
      operationId: Vaqm_Delete
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.vaqm+xml
      parameters:
        - name: deleteGuidVersions
          in: body
          description: >-
            List of VaqmConfigurations guidversions (GUID, string) and username
            for the user that deleted
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.DeleteGuidVersion'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.VaqmConfiguration'
      deprecated: false
  /api/v1/vaqm:
    get:
      tags:
        - Vaqm
      summary: "Returns the VAQM configuration for all AqlBindings (not including deleted)\r\n            Possible to return only Approved AqlBindings with given parameter."
      operationId: Vaqm_Get
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.vaqm+xml
      parameters:
        - name: includeDeleted
          in: query
          required: false
          type: boolean
        - name: onlyApproved
          in: query
          required: false
          type: boolean
        - name: onlyLatest
          in: query
          required: false
          type: boolean
        - name: resolveKeyValues
          in: query
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.VaqmConfiguration'
      deprecated: false
  /api/v1/vaqm/vaqmconfiguration:
    post:
      tags:
        - Vaqm
      summary: Returns the latest saved VaqmConfigurations with the given ids
      operationId: Vaqm_FilterVaqmConfiguration
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.vaqm+xml
      parameters:
        - name: filterScope
          in: body
          description: List of VaqmConfiguration ids (GUID)
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Vaqm.FilterScope'
        - name: resolveKeyValues
          in: query
          description: >-
            True if the values of KeyValues should be resolved from external
            systems
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.VaqmConfiguration'
      deprecated: false
  /api/v1/vaqm/dataelement:
    post:
      tags:
        - Vaqm
      summary: Returns the the latest saved VaqmConfigurations with DataElement ids
      operationId: Vaqm_FilterDataElementsLatestSavedByIds
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.vaqm+xml
      parameters:
        - name: filterScope
          in: body
          description: List of DataElement ids (GUID)
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Vaqm.FilterScope'
        - name: resolveKeyValues
          in: query
          description: >-
            True if the values of KeyValues should be resolved from external
            systems
          required: false
          type: boolean
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.VaqmConfiguration'
      deprecated: false
  /api/v1/vaqm/allconfig:
    get:
      tags:
        - Vaqm
      summary: Return all stored VaqmSystemConfigs
      operationId: Vaqm_GetAllSystemConfig
      consumes: []
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.KeyValue'
      deprecated: false
  /api/v1/vaqm/config:
    get:
      tags:
        - Vaqm
      summary: Return all stored VaqmSystemConfigs matching the given keys
      operationId: Vaqm_GetSystemConfig
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: keys
          in: body
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.KeyValue'
      deprecated: false
    post:
      tags:
        - Vaqm
      summary: Save given KeyValues as VaqmSystemConfigs
      operationId: Vaqm_SaveSystemConfig
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: keyValues
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.KeyValue'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.KeyValue'
      deprecated: false
  /api/v1/vaqm/config/delete:
    post:
      tags:
        - Vaqm
      summary: Delete KeyValues with given keys
      operationId: Vaqm_DeleteSystemConfig
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: keys
          in: body
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Definitions.KeyValue'
      deprecated: false
  /api/v1/vaqm/vaqmconfigurationquery:
    post:
      tags:
        - Vaqm
      operationId: Vaqm_PostVaqmConfigurationQuery
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.vaqmconfigurationquery+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/vnd.dips.openehr.resultsets+xml
      parameters:
        - name: vaqmConfigurationQuery
          in: body
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Query.VaqmConfigurationQuery'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DIPS.OpenEhr.ResultSets.ResultSet'
      deprecated: false
  /api/v1/vaqm/dataelementquery:
    post:
      tags:
        - Vaqm
      operationId: Vaqm_Post
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.dataelementquery+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: dataElementQuery
          in: body
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Query.DataElementQuery'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Query.DataElementQueryResult'
      deprecated: false
  /api/v1/query/vaqm:
    post:
      tags:
        - Vaqm
      operationId: Vaqm_DeprecatedPost
      consumes:
        - application/xml
        - text/xml
        - application/json
        - text/json
        - application/x-www-form-urlencoded
        - application/vnd.dips.dataelementquery+xml
      produces:
        - application/xml
        - text/xml
        - application/json
        - text/json
      parameters:
        - name: dataElementQuery
          in: body
          required: true
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Query.DataElementQuery'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Query.DataElementQueryResult'
      deprecated: true
definitions:
  DIPS.Arena.Ehr.Gdl.Api.Internal.Archetypes.CreateArchetypeRequest:
    type: object
    properties:
      adl:
        type: string
  System.Object:
    type: object
    properties: {}
  DIPS.Arena.Ehr.Gdl.Data.Archetypes.ArchetypeInfo:
    type: object
    properties:
      archetypeId:
        type: string
      description:
        type: string
      name:
        type: string
      createdTime:
        format: date-time
        type: string
  DIPS.OpenEhr.AM.Aom.Archetypes.Archetype:
    type: object
    properties:
      adlVersion:
        type: string
      archetypeId:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.Support.IdentificationPackage.ArchetypeId
      uid:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.Support.IdentificationPackage.HierObjectId
      concept:
        type: string
      parentArchetypeId:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.Support.IdentificationPackage.ArchetypeId
      definition:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CComplexObject'
      ontology:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Ontologies.ArchetypeOntology'
      invariants:
        type: array
        items:
          $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Assertions.Assertion'
        readOnly: true
      id:
        type: string
      isDeleted:
        type: boolean
      originalLanguage:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      translations:
        type: object
        additionalProperties:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.Common.ResourcePackage.TranslationDetails
      description:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.Common.ResourcePackage.ResourceDescription
      revisionHistory:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Common.GenericPackage.RevisionHistory'
      isControlled:
        type: boolean
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Support.IdentificationPackage.ArchetypeId:
    type: object
    properties:
      value:
        type: string
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Support.IdentificationPackage.HierObjectId:
    type: object
    properties:
      value:
        type: string
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.AM.Aom.ConstraintModel.CComplexObject:
    type: object
    properties:
      attributes:
        type: array
        items:
          $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CAttribute'
        readOnly: true
      assumedValue:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CComplexObject'
      anyAllowed:
        type: boolean
      referenceModelTypeName:
        type: string
      occurrences:
        $ref: '#/definitions/DIPS.OpenEhr.AssumedTypes.Interval[System.Int32]'
      nodeId:
        type: string
      parent:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CAttribute'
  DIPS.OpenEhr.AM.Aom.Ontologies.ArchetypeOntology:
    type: object
    properties:
      terminologyDefinitions:
        type: object
        additionalProperties:
          type: array
          items:
            $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Ontologies.ArchetypeTerminology'
      terminologyBindings:
        type: object
        additionalProperties:
          type: object
          additionalProperties:
            $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      constraintDefinitions:
        type: object
        additionalProperties:
          type: array
          items:
            $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Ontologies.ArchetypeTerminology'
      constraintBindings:
        type: object
        additionalProperties:
          type: array
          items:
            $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Ontologies.ArchetypeTerminology'
      availableTerminologies:
        type: array
        items:
          type: string
      specialisationDepth:
        format: int32
        type: integer
      terminologyCodes:
        type: array
        items:
          type: string
        readOnly: true
      constraintCodes:
        type: array
        items:
          type: string
        readOnly: true
      terminologyAttributeNames:
        type: array
        items:
          type: string
        readOnly: true
      parentArchetype:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Archetypes.Archetype'
  DIPS.OpenEhr.AM.Aom.Assertions.Assertion:
    type: object
    properties:
      tag:
        type: string
      expression:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Assertions.ExprItem'
      expressionString:
        type: string
      variables:
        type: array
        items:
          $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.Assertions.AssertionVariable'
        readOnly: true
  DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase:
    type: object
    properties:
      codeString:
        type: string
      terminologyId:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.Support.IdentificationPackage.TerminologyId
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Common.ResourcePackage.TranslationDetails:
    type: object
    properties:
      language:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      author:
        type: object
        additionalProperties:
          type: string
        readOnly: true
      accreditation:
        type: string
      otherDetails:
        type: object
        additionalProperties:
          type: string
        readOnly: true
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Common.ResourcePackage.ResourceDescription:
    type: object
    properties:
      originalAuthor:
        type: object
        additionalProperties:
          type: string
        readOnly: true
      otherContributors:
        type: array
        items:
          type: string
        readOnly: true
      lifecycleState:
        type: string
      details:
        type: array
        items:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.Common.ResourcePackage.ResourceDescriptionItem
        readOnly: true
      resourcePackageUri:
        type: string
      otherDetails:
        type: object
        additionalProperties:
          type: string
        readOnly: true
      parentResource:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Common.ResourcePackage.AuthoredResource'
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Common.GenericPackage.RevisionHistory:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.Common.GenericPackage.RevisionHistoryItem
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject:
    type: object
    properties:
      referenceModelTypeName:
        type: string
      occurrences:
        $ref: '#/definitions/DIPS.OpenEhr.AssumedTypes.Interval[System.Int32]'
      nodeId:
        type: string
      parent:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CAttribute'
  DIPS.OpenEhr.AM.Aom.ConstraintModel.CAttribute:
    type: object
    properties:
      referenceModelAttributeName:
        type: string
      existence:
        $ref: '#/definitions/DIPS.OpenEhr.AssumedTypes.Interval[System.Int32]'
      isMatchNegated:
        type: boolean
      children:
        type: array
        items:
          $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
        readOnly: true
      parent:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  'DIPS.OpenEhr.AssumedTypes.Interval[System.Int32]':
    type: object
    properties:
      lower:
        format: int32
        type: integer
      upper:
        format: int32
        type: integer
      lowerUnbounded:
        type: boolean
      upperUnbounded:
        type: boolean
      lowerIncluded:
        type: boolean
      upperIncluded:
        type: boolean
  DIPS.OpenEhr.AM.Aom.Ontologies.ArchetypeTerminology:
    type: object
    properties:
      code:
        type: string
      items:
        type: object
        additionalProperties:
          type: string
        readOnly: true
  DIPS.OpenEhr.AM.Aom.Assertions.ExprItem:
    type: object
    properties:
      type:
        type: string
  DIPS.OpenEhr.AM.Aom.Assertions.AssertionVariable:
    type: object
    properties:
      name:
        type: string
      definition:
        type: string
  DIPS.OpenEhr.RM.Support.IdentificationPackage.TerminologyId:
    type: object
    properties:
      value:
        type: string
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Common.ResourcePackage.ResourceDescriptionItem:
    type: object
    properties:
      language:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      purpose:
        type: string
      keywords:
        type: array
        items:
          type: string
      use:
        type: string
      misuse:
        type: string
      copyright:
        type: string
      originalResourceUri:
        type: object
        additionalProperties:
          type: string
        readOnly: true
      otherDetails:
        type: object
        additionalProperties:
          type: string
        readOnly: true
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Common.ResourcePackage.AuthoredResource:
    type: object
    properties:
      originalLanguage:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      translations:
        type: object
        additionalProperties:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.Common.ResourcePackage.TranslationDetails
      description:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.Common.ResourcePackage.ResourceDescription
      revisionHistory:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Common.GenericPackage.RevisionHistory'
      isControlled:
        type: boolean
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Common.GenericPackage.RevisionHistoryItem:
    type: object
    properties:
      audits:
        type: array
        items:
          $ref: '#/definitions/DIPS.OpenEhr.RM.Common.GenericPackage.AuditDetails'
      versionId:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.Support.IdentificationPackage.ObjectVersionId
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Common.GenericPackage.AuditDetails:
    type: object
    properties:
      systemId:
        type: string
      committer:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Common.GenericPackage.PartyProxy'
      timeCommitted:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime'
      changeType:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodedText'
      description:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvText'
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Support.IdentificationPackage.ObjectVersionId:
    type: object
    properties:
      value:
        type: string
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Common.GenericPackage.PartyProxy:
    type: object
    properties:
      externalRef:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Support.IdentificationPackage.PartyRef'
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime:
    type: object
    properties:
      value:
        type: string
      magnitude:
        format: double
        type: number
      asDateTime:
        format: date-time
        type: string
        readOnly: true
      accuracy:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration'
      magnitudeStatus:
        type: string
      normalStatus:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      normalRange:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.DataTypes.QuantityPackage.DvInterval[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime]
      otherReferenceRanges:
        type: array
        items:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.DataTypes.QuantityPackage.ReferenceRange[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime]
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodedText:
    type: object
    properties:
      definingCode:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      value:
        type: string
      mappings:
        type: array
        items:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.TerminologyMapping
      formatting:
        type: string
      hyperlink:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.UriPackage.DvUri'
      language:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      encoding:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.DataTypes.TextPackage.DvText:
    type: object
    properties:
      value:
        type: string
      mappings:
        type: array
        items:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.TerminologyMapping
      formatting:
        type: string
      hyperlink:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.UriPackage.DvUri'
      language:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      encoding:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Support.IdentificationPackage.PartyRef:
    type: object
    properties:
      type:
        type: string
      id:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Support.IdentificationPackage.ObjectId'
      namespace:
        type: string
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration:
    type: object
    properties:
      value:
        type: string
      magnitude:
        format: double
        type: number
      accuracy:
        format: double
        type: number
      isAccuracyPercent:
        type: boolean
      magnitudeStatus:
        type: string
      normalStatus:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      normalRange:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.DataTypes.QuantityPackage.DvInterval[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration]
      otherReferenceRanges:
        type: array
        items:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.DataTypes.QuantityPackage.ReferenceRange[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration]
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  'DIPS.OpenEhr.RM.DataTypes.QuantityPackage.DvInterval[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime]':
    type: object
    properties:
      lower:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime'
      upper:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime'
      isLowerUnbounded:
        type: boolean
        readOnly: true
      isUpperUnbounded:
        type: boolean
        readOnly: true
      isLowerIncluded:
        type: boolean
      isUpperIncluded:
        type: boolean
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  'DIPS.OpenEhr.RM.DataTypes.QuantityPackage.ReferenceRange[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime]':
    type: object
    properties:
      meaning:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvText'
      range:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.DataTypes.QuantityPackage.DvInterval[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDateTime]
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.DataTypes.TextPackage.TerminologyMapping:
    type: object
    properties:
      target:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      match:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
        type: integer
      purpose:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodedText'
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.DataTypes.UriPackage.DvUri:
    type: object
    properties:
      value:
        type: string
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Support.IdentificationPackage.ObjectId:
    type: object
    properties:
      value:
        type: string
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  'DIPS.OpenEhr.RM.DataTypes.QuantityPackage.DvInterval[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration]':
    type: object
    properties:
      lower:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration'
      upper:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration'
      isLowerUnbounded:
        type: boolean
        readOnly: true
      isUpperUnbounded:
        type: boolean
        readOnly: true
      isLowerIncluded:
        type: boolean
      isUpperIncluded:
        type: boolean
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  'DIPS.OpenEhr.RM.DataTypes.QuantityPackage.ReferenceRange[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration]':
    type: object
    properties:
      meaning:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvText'
      range:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.DataTypes.QuantityPackage.DvInterval[DIPS.OpenEhr.RM.DataTypes.DateTimePackage.DvDuration]
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.Arena.Ehr.Knowledge.Vaqm.Api.Rest.ChartQueryArgs:
    type: object
    properties:
      scope:
        type: string
      scopeValues:
        type: string
      min:
        type: string
      max:
        type: string
  DIPS.Unify.Format.Charts.Chart:
    type: object
    properties:
      title:
        type: string
      dataSeries:
        type: array
        items:
          $ref: '#/definitions/DIPS.Unify.Format.Charts.DataSeries'
      showLegend:
        type: boolean
  DIPS.Unify.Format.Charts.DataSeries:
    type: object
    properties:
      dataPoints:
        type: array
        items:
          $ref: '#/definitions/DIPS.Unify.Format.Charts.DataPoint'
      seriesName:
        type: string
      seriesType:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      argumentType:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
        type: integer
      valueType:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
        type: integer
      showLabel:
        type: boolean
  DIPS.Unify.Format.Charts.DataPoint:
    type: object
    properties:
      x:
        $ref: '#/definitions/System.Object'
      'y':
        $ref: '#/definitions/System.Object'
      labelText:
        type: string
      tooltipText:
        type: string
  DIPS.Arena.Ehr.Knowledge.Vaqm.Data.Chart.ChartDescription:
    type: object
    properties:
      chartId:
        type: string
      providerId:
        type: string
      title:
        type: string
      description:
        type: string
      supportedScopes:
        type: array
        items:
          $ref: '#/definitions/DIPS.Arena.Ehr.Knowledge.Vaqm.Data.Chart.Scope'
      rangeScope:
        $ref: '#/definitions/DIPS.Arena.Ehr.Knowledge.Vaqm.Data.Chart.RangeScope'
  DIPS.Arena.Ehr.Knowledge.Vaqm.Data.Chart.Scope:
    type: object
    properties:
      name:
        type: string
      type:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
  DIPS.Arena.Ehr.Knowledge.Vaqm.Data.Chart.RangeScope:
    type: object
    properties:
      minRequired:
        type: boolean
      maxRequired:
        type: boolean
      type:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
  DIPS.OpenEhr.Vaqm.Chart.VaqmChartConfigurationVersion:
    type: object
    properties:
      id:
        type: string
      showLegend:
        type: boolean
      version:
        $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Chart.Version'
      title:
        type: string
      approved:
        type: boolean
      description:
        type: string
      created:
        format: date-time
        type: string
      deleted:
        type: string
      dataSeries:
        type: array
        items:
          $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Chart.DataElementSeries'
      supportedScopes:
        type: array
        items:
          $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Chart.VaqmScope'
      intervalType:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        type: integer
      supportsInterval:
        type: boolean
  DIPS.OpenEhr.Vaqm.Chart.Version:
    type: object
    properties:
      major:
        format: int32
        type: integer
      minor:
        format: int32
        type: integer
      patch:
        format: int32
        type: integer
  DIPS.OpenEhr.Vaqm.Chart.DataElementSeries:
    type: object
    properties:
      type:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      seriesName:
        type: string
      showLabel:
        type: boolean
      dataElementReference:
        $ref: '#/definitions/DIPS.OpenEhr.Vaqm.Chart.DataElementReference'
  DIPS.OpenEhr.Vaqm.Chart.VaqmScope:
    type: object
    properties:
      name:
        type: string
      type:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        type: integer
  DIPS.OpenEhr.Vaqm.Chart.DataElementReference:
    type: object
    properties:
      guid:
        type: string
      version:
        type: string
      xFormatDataType:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        type: integer
      yFormatDataType:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        type: integer
  DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.Composition:
    type: object
    properties:
      content:
        type: array
        items:
          $ref: >-
            #/definitions/DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.ContentPackage.ContentItem
      context:
        $ref: >-
          #/definitions/DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.EventContext
      composer:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Common.GenericPackage.PartyProxy'
      category:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodedText'
      language:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      territory:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvCodePhrase'
      archetypeDetails:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Common.ArchetypedPackage.Archetyped'
      archetypeNodeId:
        type: string
      feederAudit:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Common.ArchetypedPackage.FeederAudit'
      links:
        type: array
        items:
          $ref: '#/definitions/DIPS.OpenEhr.RM.Common.ArchetypedPackage.Link'
      name:
        $ref: '#/definitions/DIPS.OpenEhr.RM.DataTypes.TextPackage.DvText'
      uid:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Support.IdentificationPackage.UIdBasedId'
      parent:
        $ref: '#/definitions/DIPS.OpenEhr.RM.Common.ArchetypedPackage.Pathable'
        readOnly: true
      constraint:
        $ref: '#/definitions/DIPS.OpenEhr.AM.Aom.ConstraintModel.CObject'
  DIPS.OpenEhr.RM.Domain.Compositions.CompositionPackage.ContentPackage.ContentItem:
    type: object
    properties:
[...]
